{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>TaskFlux Taskboard</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <style>
        .wrapper{
            background-color:dimgray; width:70%; height: 50%; margin:auto; margin-top: 20px;
        }

        .title{
            color:cornsilk; font-size: 45px; font-family: Montserrat; text-align: center;
        }

        .content{
            color:cornsilk; font-size: 35px; font-family: Montserrat; margin-left: 10px;
        }

        .prog{
            color:black; background-color:#4FE839; border-radius:10px; height: 30px; width: 100px; margin-top: 30px; margin-bottom: 30px;
        }

        .user{
            background-color:rgb(92, 141, 141); border-radius: 10px; margin-left:auto;margin-right:auto; width:80%; margin-top: 3%;
        }
        
        .name{
            font-family:Montserrat; font-size: 60px; color:white; text-align:center;
        }
    </style>

</head>

<body style="background-color:#3c4055">
    <div style="float:left;">
		<a href = "http://127.0.0.1:8000/draw/login/">
			<img src="https://i.ibb.co/rvZJLkH/image-15.png" alt="Back Arrow" style="height:50px; width:50px; margin-top:0px; margin-left: 10px">
		</a>
	</div>
    <div  id="here" class="user">

    </div>
    
    <div>
        <p style="font-family: Montserrat; font-size: 40px; color:white; margin-top: 40px; margin-left: 90px">
            Current Assigned Tasks:
        </p>
    </div>
    <div id="tasks">

    </div>
    <div style="display: flex; justify-content: center; margin-top: 30px">
        <button type="button" style="width:100px; height: 50px;">
            <a href="http://127.0.0.1:8000/draw/add/">
                <p style="font-size: 40px; margin-top: -10px">
                    +
                </p>
            </a>

        </button>
    </div>

    <!-- <div class="wrapper">
        <p class="title">
            Task 2
        </p>
        <div class="content">
            Collect and find research papers that will contain already implemented solutions for our problem. Present papers at next meeting and discuss with the entire team on which ones to move forward with.
        </div>
        <div style="display: flex; justify-content: center;">
            <button onclick="progress()" class="prog">
                Progress
            </button>
        </div>
    </div> -->

</body>
<script>

    var url = window.location.href;
    console.log("url" + url);
    if(localStorage.getItem("user") === null){
        var uid = url.split("?")[1].split("=")[1];
    } else{
        if(url.indexOf('?') > -1){
            var temp = url.split("?")[1].split("=")[1];
            var uid = localStorage.getItem("user");
            if(temp !== uid){
                uid = temp;
            }
        } else {
            var uid = localStorage.getItem("user");
        }
        
        
    }
    
    //var uid = localStorage.getItem("user");
    localStorage.setItem("user", uid);

    var task1_retrieved = JSON.parse(localStorage.getItem("tasks1"));
    var task2_retrieved = JSON.parse(localStorage.getItem("tasks2"));

    $(document).ready(function () {
        $('#here').append('<h1 class="name">Welcome, ' + uid + '!</h1>');

        for(var i = 0; i < task1_retrieved.length; i++){
            if(task1_retrieved[i]['owner'].indexOf(uid) > -1){
                $('#tasks').append('<div class="wrapper"><p class="title">' + task1_retrieved[i]['task'] + '</p><div class="content">' + task1_retrieved[i]['description'] + '</div><div style="display: flex; justify-content: center;"> <button onclick="progress1('+ i + ')" class="prog"> Progress </button> </div></div>');
            }
            
        }

        for(var i = 0; i < task2_retrieved.length; i++){
            if(task2_retrieved[i]['owner'].indexOf(uid) > -1){
                $('#tasks').append('<div class="wrapper"><p class="title">' + task2_retrieved[i]['task'] + '</p><div class="content">' + task2_retrieved[i]['description'] + '</div><div style="display: flex; justify-content: center;"> <button onclick="progress2('+ i + ')" class="prog"> Progress </button> </div></div>');
            }
            
        }


    });

    function progress1(index){
        var progr = prompt("What is the updated progress percentage?");
        task1_retrieved[index]['progress'] = progr;
        localStorage.setItem("tasks1", JSON.stringify(task1_retrieved));
    }

    function progress2(index){
        var progr = prompt("What is the updated progress percentage?");
        task2_retrieved[index]['progress'] = progr;
        localStorage.setItem("tasks2", JSON.stringify(task2_retrieved));
    }

    localStorage.setItem("tasks1", JSON.stringify(task1_retrieved));
    localStorage.setItem("tasks2", JSON.stringify(task2_retrieved));
</script>

</html>